<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
  <title>职工列表</title>
</head>
<script type="text/javascript">
    $(function () {
//        查找的form提交
        $("#searchUser").click(function(){
            $('#searchForm').submit();
        });


        <% unless @page_info[:current] == 1%>
        $(".page_first").click(function () {
            location.href = "<%= url_for params.merge(:page => 1)%>"
        });
        $(".page_prev").click(function () {
            location.href = "<%= url_for params.merge(:page => @page_info[:current] - 1)%>"
        });
        <% end %>
        <% unless @page_info[:current] == @page_info[:count] %>
        $(".page_last").click(function () {
            location.href = "<%= url_for params.merge(:page => @page_info[:count])%>"
        });
        $(".page_next").click(function () {
            location.href = "<%= url_for params.merge(:page => @page_info[:current] + 1)%>"
        });
        <% end %>
        <% if @page_info[:count] > 1 %>
        $(".page_go").click(function () {
            if ($('#paginate').val() <=<%=@page_info[:count]%>)
                    <% urls = url_for(params.merge(:page => 1)).split("?") %>
                location.href = "<%= (urls[0].split("/")[0..-2].join("/") + "/").html_safe %>" + $('#paginate').val() + "<%= ("?" + urls[1]).html_safe if urls[1] %>"
        });
        <% end %>
    })
</script>
<body>
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="27"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="3" height="27"><%= image_tag("main_42.gif",width:'3',height:'27') %></td>
        <td background="<%= asset_path 'main_43.gif' %>">
          <table width="100%" height="21" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td style="padding-left:5px; font-size:9pt;"><table border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="3%"><div align="center"><%= image_tag("right01.gif",width:'14',height:'14') %></div></td>
                  <td width="97%" style="font-size:12px; padding-left:10px;" nowrap="nowrap"><%= @title %> </td>
                </tr>
              </table></td>
              <td width="265px" >
                <%= form_tag({:controller => :employees,:action => :query},:name => 'searchForm',:id => 'searchForm')  do%>
                    <span class="search_text" style="font-size: 12px;">职工名称:<%= text_field_tag :name,'',:class => 'input_search' %></span>
                    <table width="50px" border="0" align="right" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="3px" height="21"><%= image_tag("main_46.gif",width:'3',height:'21') %></td>
                        <td background="<%= asset_path 'main_48.gif' %>"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td>
                              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td><div align="center"><%= image_tag("src.gif",width:'15',height:'13') %></div></td>
                                  <td><div align="center"><span class="STYLE1" id="searchUser" >查找</span></div></td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        </td>
                      </tr>
                    </table>
                    <td width="3"><%= image_tag("main_51.gif",width:'3',height:'21') %></td>
                    </tr>
                    </table>
                    </td>
                <% end %>
                </tr>
    </table>
    </td>
    <td width="3"><%= image_tag("main_44.gif") %></td>
  </tr>
</table></td>
</tr>
<tr>
  <td valign="top" bgcolor="#FFFFFF" style="border-left:solid 1px #7a99c2; border-bottom:solid 1px #7a99c2; border-right:solid 1px #7a99c2; padding-top:2px; padding-left:3px; padding-right:3px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <table class="simpleTable">
          <tr>
            <th  class="tab_firstline">编号</th>
            <th class="tab_firstline">姓名</th>
            <th class="tab_firstline">卡号</th>
            <th class="tab_firstline">性别</th>
            <th class="tab_firstline">生日</th>
            <th class="tab_firstline">所属部门</th>
            <th class="tab_firstline">状态</th>
            <th class="tab_firstline">入职日期</th>
            <th class="tab_firstline">操作</th>
          </tr>
          <% @employees.each do |employee| %>
              <tr>
                <td class="td1"><%= list_index %></td>
                <td class="td1"><%= employee.name %></td>
                <td class="td1"><%= employee.card.card_number %></td>
                <td class="td1"><%= employee.sex.to_i == 1 ? '男' : '女' %></td>
                <td class="td1"><%= employee.birthday.to_date %></td>
                <td class="td1"><%= employee.department.name %></td>
                <td class="td1"><%= employee.state_text %></td>
                <td class="td1"><%= format_datetime employee.created_at %></td>
                <td class="td1">
                  <%= link_to  '[新增]',:action => :new %>&nbsp;&nbsp;&nbsp;&nbsp;
                  <%= link_to  '[编辑]',:action => :edit,:id => employee.id %>&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
              </tr>
          <% end %>
        </table>
      </td>
    </tr>
  </table></td>
</tr>
</table>
<div style="float:right;"><%= show_paginate  %></div>
</body>
</html>
