<h1>Listing employees</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Code</th>
    <th>Sex</th>
    <th>Birthday</th>
    <th>Department</th>
    <th>Remark</th>
    <th>State</th>
    <th>Expired at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.id %></td>
    <td><%= employee.name %></td>
    <td><%= employee.code %></td>
    <td><%= employee.sex %></td>
    <td><%= employee.birthday %></td>
    <td><%= employee.department_id %></td>
    <td><%= employee.remark %></td>
    <td><%= employee.state %></td>
    <td><%= employee.expired_at %></td>
    <td><%= link_to 'Show', employee %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee', new_employee_path %>
