<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>新建员工资料</title>
</head>
<body>
<%= title_bar %>
<%= form_for @employee, {:url => {:action => :create }} do |f| %>
    <fieldset style="width:50%;margin-left:160px;margin-top:70px;">
      <legend>新增员工</legend>
      <table class="resultTable">
        <tr>
          <td align="center">姓名:</td>
          <td><%= f.text_field :name, :size => "30", :class => "input_text" %></td>
          <td align="center">编号:</td>
          <td><%= f.text_field :code, :size => "30", :class => "input_text" %></td>
        </tr>
        <tr>
          <td align="center">性别:</td>
          <td>
             <%= radio_button_tag :sex,'1',true %>男 &nbsp;&nbsp;
             <%= radio_button_tag :sex,'0'%>女
          </td>
          <td align="center">生日:</td>
          <td><%= f.text_field :birthday, :size => "30", :class => "input_text",:onclick => "WdatePicker()" %></td>
        </tr>
        <tr>
          <td colspan="2" align="center">
            <%= f.submit "保存", :class => "button_blue" %>
            <%= f.button '重置' ,:class => "button_blue" %>
          </td>
        </tr>
      </table>
    </fieldset>
<% end %>
</body>
</html>
