<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
  <title>task列表</title>
</head>
<body>
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="27"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="3" height="27"><%= image_tag("main_42.gif",width:'3',height:'27') %></td>
        <td background="<%= asset_path 'main_43.gif' %>">
          <table width="100%" height="21" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td style="padding-left:5px; font-size:9pt;"><table border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="3%"><div align="center"><%= image_tag("right01.gif",width:'14',height:'14') %></div></td>
                  <td width="97%" style="font-size:12px; padding-left:10px;" nowrap="nowrap"><%= @title %> </td>
                </tr>
              </table></td>
              <td width="265px" >
                <%= form_tag({:controller => :task,:action => :query},:name => 'searchForm',:id => 'searchForm')  do%>
                    <span style="font-size: 12px;">issue名称:<%= text_field_tag :name,'',:class => 'input_search' %></span>
                    <table width="50px" border="0" align="right" cellpadding="0" cellspacing="0" style="text-align: center">
                      <tr>
                        <td width="3px" height="21"><%= image_tag("main_46.gif",width:'3',height:'21') %></td>
                        <td background="<%= asset_path 'main_48.gif' %>"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td>
                              <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td><div align="center"><%= image_tag("src.gif",width:'15',height:'13') %></div></td>
                                  <td><div align="center"><span class="STYLE1" onclick="searchForm.submit()">查找</span></div></td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        </td>
                        <td width="3"><%= image_tag("main_51.gif",width:'3',height:'21') %></td>
                      </tr>
                    </table>
                <% end %>
              </td>
            </tr>
          </table></td>
        <td width="3"><%= image_tag("main_44.gif") %></td>
      </tr>
    </table></td>
  </tr>
  <tr><td>
    <% if @project %>
    <%= form_for :task, url: {action: "new",project_id: @project.id } do |f| %>
        <span style="margin-left: 20px;margin-top: 10px;">
          <%= f.submit  'new issue',:class=> :button_blue %>
        </span>
    <% end %>
    <% end %>
    <span class="issueLength">Issues<span class="length"><%= @project.tasks.size %></span></span></td></tr>
  <tr><td><div class="line"></div></td></tr>
  <tr><td>
    <div class="projectContent">
      <div class="projectName">
        <% @tasks.each do |task| %>
            <div class="taskInfo">
              <div class="t_name"><%= link_to task.name,:action => :edit,:id => task.id %></div>
              <div class="t_desc"><%= task.description %></div>
              <div class="t_date">Last activity: <%= task.updated_at.to_date %><span style="color:#efefef;float:right;margin-right: 20px;"><%= link_to 'close',:action => :delete,:id => task.id %></span></div>
            </div>
            <div class="line"></div>
        <% end %>
      </div>
        <% if @project %>
         <div  class="taskGroup">
           <div class="task_pro_name"><%= @project.name %></div>
           <div class="task_pro_desc"><%= @project.description %></div>
           <div class="taskLine"></div>
           <div class="repo">
           <div class="repoSize"><label> Repo size is </label>23.31 MB</div>
           <div class="repoSize"><label>Created at </label><%= format_datetime @project.created_at %></div>
           <div class="repoSize"><label>Owned by </label><%= @project.project_creator.name %></div>
           </div>
           <div class="taskLine"></div>
           <div class="taskCommit">
           <div class="repoCommit"><%= link_to '0 commits' %></div>
           <div class="repoCommit"><%= link_to '64 branches' %></div>
           <div class="repoCommit"><%= link_to '14 tags' %></div>
           </div>
         </div>
      </div>
       <% else %>
          <div class="Group1">
            <div class="g_item"><li class="fore"></li><li class="content"><label  class="labelGroup"><%= link_to 'All',:action => :index %></label><label class="labelTag"><%= all_count %></label></li></div>
            <div class="g_item"><li class="fore"></li><li class="content"><label  class="labelGroup"><%= link_to 'Open',:action => :index,:state => CommonActiveRecord::ENABLED %></label><label class="labelTag"><%= open_count %></label></li></div>
            <div class="g_item"><li class="fore"></li><li class="content"><label  class="labelGroup"><%= link_to 'Closed',:action => :index,:state => CommonActiveRecord::DISABLED  %></label><label class="labelTag"><%= close_count %></label></li></div>
            <div style="margin-top: 30px;"></div>
            projects:
            <% Project.order('updated_at').first(2).each do |project|%>
                <div class="g_item"><li class="fore"></li><li class="content"><label class="labelGroup"><%= link_to project.name.capitalize,:action => :index,:id => project.id %></label></li></div>
            <%end%>

          </div>

       <% end %>

    </div>
  </td></tr>
</table>

</body>
</html>

