<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>新建角色</title>
</head>
<style type="text/css">
    <!--
    .STYLE1 {
        color: #15428b;
        font-size: 12px;
    }

    body {
        width: 100%;
        margin: 0 auto;
        text-align: left;
        background: white;
    }

    -->
</style>
<body>
<%= title_bar %>
    <fieldset style="width:35%;margin-left:300px;margin-top:100px;">
      <table class="resultTable">
        <tr>
          <td><%=image_tag("http://gallery-people.b0.upaiyun.com/p1.jpg")%></td>
          <td><%=image_tag("http://gallery-people.b0.upaiyun.com/p2.jpg")%></td>
          <td><%=image_tag("http://gallery-people.b0.upaiyun.com/p3.jpg")%></td>
        </tr>
        <tr>
          <td><%=image_tag("http://gallery-people.b0.upaiyun.com/p4.jpg")%></td>
          <td><%=image_tag("http://gallery-people.b0.upaiyun.com/p5.jpg")%></td>
          <td><%=image_tag("http://gallery-people.b0.upaiyun.com/p6.jpg")%></td>
        </tr>
      </table>
    </fieldset>
</body>
</html>
