<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>修改角色</title>
</head>
<body>
<%= title_bar %>
<%= form_for(:role, {:url => {:action => :update, :id => params[:id]}} ) do |f| %>
    <fieldset style="width:65%;margin-left:160px;margin-top:30px;">
      <table class="resultTable">
        <tr>
          <td align="right">名称:</td>
          <td><%= f.text_field :name, :size => "30", :class => "input_text" %></td>
        </tr>
        <tr>
          <td align="right">描述:</td>
          <td><%= f.text_field :description, :size => "30", :class => "input_text" %></td>
        </tr>
        <tr>
          <td align="right">权限：</td>
          <td>
            <table>
              <% @rights.each_slice(5) do |rights| %>
                  <tr>
                    <% rights.each do |right| %>
                        <td><%= check_box_tag 'role[rights][]',right, @role.has_right?(right) %>
                          <%= label_tag right, right.name %>
                        </td>
                    <% end %>
                  </tr>
              <% end %>
            </table>
          </td>

        </tr>
        <tr>
          <td colspan="2" align="center">
            <%= f.submit "修改", :class => "button_blue" %>
            <%= link_to '返回', {:action => :index} %>
          </td>
        </tr>
      </table>
    </fieldset>
<% end %>
</body>
</html>