<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
  <title>项目列表</title>
</head>
<script type="text/javascript">
    $(function(){
        $("div.pro_item").mouseover(function(){
            $("div.pro_item").addClass("grayColor");
        })
        $(".pro_item").mouseout(function(){
            $(".pro_item").removeClass("grayColor");
        })
    });
</script>
<body>
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="27"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="3" height="27"><%= image_tag("main_42.gif",width:'3',height:'27') %></td>
        <td background="<%= asset_path 'main_43.gif' %>">
          <table width="100%" height="21" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td style="padding-left:5px; font-size:9pt;"><table border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="3%"><div align="center"><%= image_tag("right01.gif",width:'14',height:'14') %></div></td>
                  <td width="97%" style="font-size:12px; padding-left:10px;" nowrap="nowrap"><%= @title %> </td>
                </tr>
              </table></td>
              <td width="265px" >
                <%= form_tag({:controller => :project,:action => :query },:name => 'searchForm',:id => 'searchForm')  do%>
                    <span style="font-size: 12px;">项目名称:<%= text_field_tag :name,'',:class => 'input_search' %></span>
                    <table width="50px" border="0" align="right" cellpadding="0" cellspacing="0" style="text-align: center">
                      <tr>
                        <td width="3px" height="21"><%= image_tag("main_46.gif",width:'3',height:'21') %></td>
                        <td background="<%= asset_path 'main_48.gif' %>"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td>
                              <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td><div align="center"><%= image_tag("src.gif",width:'15',height:'13') %></div></td>
                                  <td><div align="center"><span class="STYLE1" onclick="searchForm.submit()">查找</span></div></td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        </td>
                        <td width="3"><%= image_tag("main_51.gif",width:'3',height:'21') %></td>
                      </tr>
                    </table>
                <% end %>
              </td>
            </tr>
          </table></td>
        <td width="3"><%= image_tag("main_44.gif") %></td>
      </tr>
    </table></td>
  </tr>
  <tr><td>
      <span class="pro_title">My Projects</span>
      <span style="float: right;">
       <%= form_for :group, url: {action: "new"} do |f| %>
        <span style="margin-left: 20px;margin-top: 10px;">
          <%= f.submit 'new project', :class => :button_blue %>
        </span>
    <% end %>
    </span>
  </td></tr>
  <tr><td><div class="line"></div></td></tr>
  <tr><td>
  <div class="projectContent">
       <div  class="projectGroup">
        <% @groups.each do |group|%>
        <div class="pro_item"><li class="fore"></li><li class="content"><label class="labelGroup"><%= group.name.capitalize %></label><label class="labelTag"><%= number_of_project_in_group group.id  %></label></li></div>
        <%end%>
       </div>
       <div class="projectName">
         <% @projects.each do |project| %>
            <div class="projectInfo">
              <div class="p_name"><%= link_to (project_and_creator project),:controller => :task,:action => :index,:id => project.id,:target => 'iframeStyle' %></div>
              <div class="p_desc"><%= project.description %></div>
              <div class="p_date">Last activity: <%= project.updated_at.to_date %>
               <%if admin? %>
                <span style="color:#f0f0f0;font-size: 90%;float:right;"><%= link_to '[编 辑]',:action => :edit,:id => project.id %></span><span style="color:#f0f0f0;font-size: 90%;float:right;"><%= link_to '[删 除]',:action => :delete,:id => project.id %></span>
               <% end %>
              </div>
            </div>
            <div class="line"></div>
         <% end %>
       </div>
  </div>
  </td></tr>
 </table>

</body>
</html>

