<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>新建项目</title>
</head>
<body>
<%= title_bar %>
<%= form_for @project, {:url => {:action => :create }} do |f| %>
    <fieldset style="width:35%;margin-left:260px;margin-top:100px;">
      <legend style="color: #0033cc;">新建项目</legend>
      <table class="resultTable">
        <tr>
          <td align="right">名称:</td>
          <td><%= f.text_field :name, :size => "30", :class => "input_high" %></td>
        </tr>
        <tr>
          <td align="right">组:</td>
          <td><%= f.text_field :group_id, :size => "30", :class => "input_high" %></td>
        </tr>
        <tr>
          <td align="right">项目URL:</td>
          <td><%= f.text_field :project_url, :size => "30", :class => "input_high" %></td>
        </tr>
        <tr>
          <td align="right">描述:</td>
          <td><%= f.text_field :description, :size => "30", :class => "input_desc" %></td>
        </tr>
        <tr>
          <td colspan="2" align="center">
            <%= f.submit "保存", :class => "button_blue" %>
            <%= f.button '重置' ,:class => "button_blue" %>
          </td>
        </tr>
      </table>
    </fieldset>
<% end %>
</body>
</html>
