<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
  <title>无标题文档</title>
</head>
<style type="text/css">
    <!--
    .STYLE1 {	color: #15428b;
        font-size: 12px;
    }
    body { width:100%; margin:0 auto; text-align:left;background:white; }
    -->
</style>
<script type="text/javascript">
    $(function () {
        <% unless @page_info[:current] == 1%>
        $(".page_first").click(function () {
            location.href = "<%= url_for params.merge(:page => 1)%>"
        });
        $(".page_prev").click(function () {
            location.href = "<%= url_for params.merge(:page => @page_info[:current] - 1)%>"
        });
        <% end %>
        <% unless @page_info[:current] == @page_info[:count] %>
        $(".page_last").click(function () {
            location.href = "<%= url_for params.merge(:page => @page_info[:count])%>"
        });
        $(".page_next").click(function () {
            location.href = "<%= url_for params.merge(:page => @page_info[:current] + 1)%>"
        });
        <% end %>
        <% if @page_info[:count] > 1 %>
        $(".page_go").click(function () {
            if ($('#paginate').val() <=<%=@page_info[:count]%>)
                    <% urls = url_for(params.merge(:page => 1)).split("?") %>
                location.href = "<%= (urls[0].split("/")[0..-2].join("/") + "/").html_safe %>" + $('#paginate').val() + "<%= ("?" + urls[1]).html_safe if urls[1] %>"
        });
        <% end %>
    })
</script>
<body>
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="27"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="3" height="27"><%= image_tag("main_42.gif",width:'3',height:'27') %></td>
        <td background="<%= asset_path 'main_43.gif' %>"><table width="100%" height="21" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td style="padding-left:5px; font-size:9pt;"><table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="3%"><div align="center"><%= image_tag("right01.gif",width:'14',height:'14') %></div></td>
                <td width="97%" style="font-size:12px; padding-left:10px;" nowrap="nowrap"><%= @title %> </td>
              </tr>
            </table></td>
            <td width="300" ><table width="240" border="0" align="right" cellpadding="0" cellspacing="0">
              <tr>
                <td width="3" height="21"><%= image_tag("main_46.gif",width:'3',height:'21') %></td>
                <td background="<%= asset_path 'main_48.gif' %>"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="21">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><div align="center"><%= image_tag("add.gif",width:'16',height:'16') %></div></td>
                        <td><div align="center"><span class="STYLE1"><%= link_to '添加',:action => :new %></span></div></td>
                      </tr>
                    </table>
                    </td>
                    <td width="2"><%= image_tag("main_49.gif",width:'2',height:'21') %></td>

                    <td height="21">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td><div align="center"><%= image_tag("add.gif",width:'16',height:'16') %></div></td>
                          <td><div align="center"><span class="STYLE1"><%= link_to '头像',:action => :new_avatar %></span></div></td>
                        </tr>
                      </table>
                    </td>
                    <td width="2"><%= image_tag("main_49.gif",width:'2',height:'21') %></td>

                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><div align="center"><%= image_tag("del.gif",width:'13',height:'14') %></div></td>
                        <td><div align="center"><span class="STYLE1"><%= link_to '删除',:action => :delete %></span></div></td>
                      </tr>
                    </table></td>
                    <td width="2"><%= image_tag("main_49.gif",width:'2',height:'21') %></td>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><div align="center"><%= image_tag("edit.gif",width:'16',height:'14') %></div></td>
                        <td><div align="center"><span class="STYLE1">修改</span></div></td>
                      </tr>
                    </table></td>
                    <td width="2"><%= image_tag("main_49.gif",width:'2',height:'21') %></td>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><div align="center"><%= image_tag("src.gif",width:'15',height:'13') %></div></td>
                        <td><div align="center"><span class="STYLE1">查找</span></div></td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
                <td width="3"><%= image_tag("main_51.gif",width:'3',height:'21') %></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td width="3"><%= image_tag("main_44.gif") %></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top" bgcolor="#FFFFFF" style="border-left:solid 1px #7a99c2; border-bottom:solid 1px #7a99c2; border-right:solid 1px #7a99c2; padding-top:2px; padding-left:3px; padding-right:3px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>
          <table class="simpleTable">
            <tr>
              <th  class="tab_firstline">编号</th>
              <th class="tab_firstline">用户名</th>
              <th class="tab_firstline">密码</th>
              <th class="tab_firstline">状态</th>
              <th class="tab_firstline_last">邮箱</th>
              <th class="tab_firstline_last">操作</th>
            </tr>
            <% @users.each do |user| %>
                <tr>
                  <td class="td1"><%= list_index %></td>
                  <td class="td1"><%= user.name %></td>
                  <td class="td1"><%= user.password %></td>
                  <td class="td1"><%= user.state %></td>
                  <td class="td1"><%= user.email %></td>
                  <td class="td1"><%= link_to image_tag("sx.gif"),:action => :edit,:id => user.id %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to  image_tag("edit.gif"),:action => :edit,:id => user.id %>&nbsp;&nbsp;&nbsp;&nbsp; <%= link_to image_tag("del.gif"),:action => :delete ,:id => user.id %> </td>
                </tr>
            <% end %>
          </table>
        </td>
      </tr>
    </table></td>
  </tr>
</table>
<div style="float:right;"><%= show_paginate  %></div>
</body>
</html>
