<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @card.id %>
</p>

<p>
  <b>Employee:</b>
  <%= @card.employee_id %>
</p>

<p>
  <b>Card number:</b>
  <%= @card.card_number %>
</p>

<p>
  <b>Created at:</b>
  <%= @card.created_at %>
</p>

<p>
  <b>Update at:</b>
  <%= @card.update_at %>
</p>

<p>
  <b>Lost at:</b>
  <%= @card.lost_at %>
</p>


<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
