<%= form_for(@terminal) do |f| %>
  <% if @terminal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@terminal.errors.count, "error") %> prohibited this terminal from being saved:</h2>

      <ul>
      <% @terminal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :remote_id %><br />
    <%= f.text_field :remote_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
