<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>HR人事管理系统--down</title>
  <style type="text/css">
      <!--
      .STYLE1 {	color: #15428b;
          font-size: 12px;
      }
      -->
</style>
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="25" background="<%= asset_path 'main_67.gif' %>" style="padding-left:40px;">
      <table width="270" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="90" height="24" style="padding-top:3px;"><div align="center"><span class="STYLE1">用户:admin</span></div></td>
        <td width="10" ><%= image_tag("main_65.gif",width:'2') %></td>
        <td width="82" class="STYLE1"  style="padding-top:3px;"><div align="center">角色：管理员</div></td>
        <td width="2"><%= image_tag("main_65.gif",width:'2') %></td>
        <td width="86" class="STYLE1"  style="padding-top:3px;"><div align="center">短信:1</div></td>
      </tr>
    </table>
    </td>
    <td width="240" background="<%= asset_path 'main_69.gif' %>"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="9" height="25"><%= image_tag("main_68.gif",width:'9',height:'25') %></td>
        <td><span class="STYLE1" style="padding-left:15px;">时间:<%= Time.now.strftime("%Y年%m月%d日") %></span></td>
        <td width="15"><%= image_tag("main_71.gif",width:'15',height:'25') %></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
