<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>HR人事管理系统--top</title>
<style type="text/css">
    .STYLE1 {	color: #15428b;
        font-size: 12px;
    }
</style>
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="58"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="52" height="59" background=<%= asset_path 'main_01.gif' %> >&nbsp;</td>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="33" background=<%= asset_path 'main_04.gif' %>><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="99" height="33" background=<%= asset_path 'main_02.gif' %>><table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td valign="middle"><div align="center"> <%= image_tag("computer.gif", height: '15', width: '14') %></div></td>
                    <td valign="bottom"><div align="center"><%= image_tag("sx.gif", height: '12', width: '12')%> </div></td>
                    <td valign="middle"><div align="center"><%= link_to image_tag("user.gif", height: '15', width: '13',alt:'退出'),'/home/logout'  %> </div></td>
                    <td valign="middle"><div align="left"><%= image_tag("save.gif", height: '13', width: '16')%> </div></td>
                  </tr>
                </table></td>
                <td ><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="2%"><div align="center"><%= image_tag("l.gif", height: '5', width: '5')%></div></td>
                    <td width="98%" style="font-size:14px; text-align:center;">JC-人事管理系统</td>
                  </tr>
                </table></td>
                <td width="75"><table width="75" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="25" height="25" style="cursor:hand" onMouseOver="this.style.backgroundImage='url(<%= asset_path 'b.gif'%>)';"onmouseout="this.style.backgroundImage='url()';"><%= image_tag("zx.gif",height:'25',width:'25')%></td>
                    <td width="25" style="cursor:hand" onMouseOver="this.style.backgroundImage='url(<%= asset_path 'b.gif'%>)';"onmouseout="this.style.backgroundImage='url()';"><%= image_tag("zd.gif",height:'25',width:'25')%></td>
                    <td width="25" style="cursor:hand" onMouseOver="this.style.backgroundImage='url(<%= asset_path 'b.gif'%>)';"onmouseout="this.style.backgroundImage='url()';"><%= image_tag("gb.gif",height:'25',width:'25')%></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td height="26" background=<%= asset_path 'main_07_1.gif' %> style="padding-right:5px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="26" valign="bottom" background="<%= asset_path 'main_07.gif' %>"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="86" height="24"><table width="84" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td height="24" background="<%= asset_path 'top_bg.gif' %>" ><div align="center">系统管理</div></td>
                      </tr>
                    </table></td>
                    <td width="86"><table width="84" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td height="24" style="cursor:hand;" onmouseover="this.style.backgroundImage='url(<%= asset_path 'top_bg1.gif' %>)';"onmouseout="this.style.backgroundImage='url()';"><div align="center">人事管理</div></td>
                      </tr>
                    </table></td>
                    <td width="86"><table width="84" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td height="24" style="cursor:hand;" onmouseover="this.style.backgroundImage='url(<%= asset_path 'top_bg1.gif' %>)';"onmouseout="this.style.backgroundImage='url()';"><div align="center">数据管理</div></td>
                      </tr>
                    </table></td>
                    <td width="86"><table width="84" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td height="24" style="cursor:hand;" onmouseover="this.style.backgroundImage='url(<%= asset_path 'top_bg1.gif' %>)';"onmouseout="this.style.backgroundImage='url()';"><div align="center">档案管理</div></td>
                      </tr>
                    </table></td>
                    <td width="86"><table width="84" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td height="24" style="cursor:hand;" onmouseover="this.style.backgroundImage='url(<%= asset_path 'top_bg1.gif' %>)';"onmouseout="this.style.backgroundImage='url()';"><div align="center">帮助</div></td>
                      </tr>
                    </table></td>
                    <td><div align="right"><%= image_tag("help.gif",height:'14',width:'14') %></div></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="70" bgcolor="#bfdbff" style="padding-left:2px; padding-right:2px;">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="3" height="70"><%= image_tag("main_09.gif",width:"3", height: "70") %></td>
        <td background="<%= asset_path 'main_11.gif' %>" >
          <div class="menu">
            <ul>
              <li><a href="#" onfocus="this.blur"><span>
			    <table width="184" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="46" height="40" style="cursor:hand" onMouseOver="this.style.backgroundImage='url(<%= asset_path 'main_27.gif' %>)';"onmouseout="this.style.backgroundImage='url()';"><div align="center"><%= image_tag("01.gif",width:'30',height:'30') %></div></td>
                    <td width="46" style="cursor:hand" onMouseOver="this.style.backgroundImage='url(<%= asset_path 'main_27.gif' %>)';"onmouseout="this.style.backgroundImage='url()';"><div align="center"><%= image_tag("02.gif",width:'26',height:'26') %></div></td>
                    <td width="46" style="cursor:hand" onMouseOver="this.style.backgroundImage='url(<%= asset_path 'main_27.gif' %>)';"onmouseout="this.style.backgroundImage='url()';"><div align="center"><%= image_tag("03.gif",width:'29',height:'28') %></div></td>
                    <td width="46" style="cursor:hand" onMouseOver="this.style.backgroundImage='url(<%= asset_path 'main_27.gif' %>)';"onmouseout="this.style.backgroundImage='url()';"><div align="center"><%= image_tag("04.gif",width:'33',height:'33') %></div></td>
                  </tr>
                  <tr>
                    <td height="18"><div align="center"><%= link_to '图片',:controller => :photo,:action => :index %></div></td>
                    <td><div align="center"><a href="<%= url_for :controller => :photo, :action => :index %>" target="iframeStyle">图库</a></div></td>
                    <td><div align="center"><%= link_to '图形',:controller => :photo,:action => :index %></div></td>
                    <td><div align="center"><%= link_to '注释',:controller => :photo,:action => :index %></div></td>
                  </tr>
                </table>
			 </span><em></em></a></li>
              <li><a href="#" onfocus="this.blur"><span><table width="184" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="46" height="40" style="cursor:hand" onmouseover="this.style.backgroundImage='url(<%= asset_path 'main_27.gif' %>)';"onmouseout="this.style.backgroundImage='url()';"><div align="center"><%= image_tag("05.gif",width:'30',height:'17') %></div></td>
                  <td width="46" style="cursor:hand" onmouseover="this.style.backgroundImage='url(<%= asset_path 'main_27.gif' %>)';"onmouseout="this.style.backgroundImage='url()';"><div align="center"><%= image_tag("06.gif",width:'29',height:'20') %></div></td>
                  <td width="46" style="cursor:hand" onmouseover="this.style.backgroundImage='url(<%= asset_path 'main_27.gif' %>)';"onmouseout="this.style.backgroundImage='url()';"><div align="center"><%= image_tag("07.gif",width:'28',height:'27') %></div></td>
                  <td width="46" style="cursor:hand" onmouseover="this.style.backgroundImage='url(<%= asset_path 'main_27.gif' %>)';"onmouseout="this.style.backgroundImage='url()';"><div align="center"><%= image_tag("08.gif",width:'31',height:'27') %></div></td>
                </tr>
                <tr>
                  <td height="18"><div align="center"><%= link_to '信封',:controller => :role,:action => :index %></div></td>
                  <td><div align="center"><%= link_to '邮件',:controller => :role,:action => :index %></div></td>
                  <td><div align="center"><a href="<%= url_for :controller => :user, :action => :index %>" target="iframeStyle">用户</a> </div></td>
                  <td><div align="center">
                    <a href="<%= url_for :controller => :role, :action => :index %>" target="iframeStyle">角色</a></div></td>
                </tr>
              </table></span><em></em></a></li>
              <li><a href="#" onfocus="this.blur"><span><table width="184" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="46" height="40" style="cursor:hand" onmouseover="this.style.backgroundImage='url(<%= asset_path 'main_27.gif' %>)';"onmouseout="this.style.backgroundImage='url()';"><div align="center"><%= image_tag("09.gif",width:'28',height:'29') %></div></td>
                  <td width="46" style="cursor:hand" onmouseover="this.style.backgroundImage='url(<%= asset_path 'main_27.gif' %>)';"onmouseout="this.style.backgroundImage='url()';"><div align="center"><%= image_tag("10.gif",width:'29',height:'25') %></div></td>
                  <td width="46" style="cursor:hand" onmouseover="this.style.backgroundImage='url(<%= asset_path 'main_27.gif' %>)';"onmouseout="this.style.backgroundImage='url()';"><div align="center"><%= image_tag("11.gif",width:'26',height:'29') %></div></td>
                  <td width="46" style="cursor:hand" onmouseover="this.style.backgroundImage='url(<%= asset_path 'main_27.gif' %>)';"onmouseout="this.style.backgroundImage='url()';"><div align="center"><%= image_tag("12.gif",width:'24',height:'24') %></div></td>
                </tr>
                <tr>
                  <td height="18"><div align="center">统计</div></td>
                  <td><div align="center">表格</div></td>
                  <td><div align="center">字体</div></td>
                  <td><div align="center">分栏</div></td>
                </tr>
              </table></span><em></em></a></li>
            </ul>
          </div>
        </td>
        <td width="3"><%= image_tag("main_13.gif",width:'3',height:'70') %></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>